// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

//Colors
$dark: #242b33;
$accent: #F88500;
$white: #fff;
$footer-bg: #343d46;
$placeholder: #BEBEBE;
$muted: #E7E7E7;


//Media
$tablet: 999px;
